.introduction {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: justify;
}

.homeData {
    background-color: aliceblue;
    text-align: center;
}

a {
    text-decoration: none;
    color: teal;
    font-weight: bold;
}

b {
    color: dimgray;
}

h1 {
    margin-bottom: 20px;
    font-family: cursive;
}