<div class="container homeData">
    <div class="row">
        <div class="col-md-8 col-12 offset-md-2 introduction py-4 px-3">
            <h1 class="text-center">Varsha Jaiswal</h1>
            <p>
                I'm a <b>Software Developement Engineer</b> at
                <a href="https://mypat.in/" target="_blank">
                    Edfora Infotech (myPAT)
                </a> working on Angular as the technology stack.
            </p>
            <p> I'm also leading
                <a href="https://gdgjalandhar.com/" target="_blank">
                    Google Developers Group, Jalandhar
                </a> as a <b>Co-Organizer</b> and <b>WTM Ambassador</b>.
                Along with that, I am a facilitator of
                <a href="https://iamremarkable.withgoogle.com/" target="_blank">
                    #IamRemarkable
                </a>
                workshop, an initiative by <b>Google</b>.
            </p>
            <p>
                You can find me spending a lot of free time with <a href="https://twitter.com/hashtag/GDGJalandhar" target="_blank"><b>#GDGJalandhar</b></a> & <a href="https://twitter.com/hashtag/WTMJalandhar" target="_blank"><b>#WTMJalandhar</b></a> and
                mentoring people who are interested in technology.
            </p>
        </div>
    </div>

    <div class="row socialLinks">
        <div class="col-12">
            <i class="fab fa-facebook-f"></i>
        </div>
    </div>
</div>