.introduction {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: justify;
}

a {
    text-decoration: none;
}

h2 {
    margin-bottom: 20px;
}