.imageSize {
    height: 210px;
    width: 349px;
}
.cardSize {
    min-height: 250px;
    max-height: 250px;
    overflow-y: auto;
}

.description {
    font-size: 14px;
}

.venue {
    font-size: small;
}
.seeMoreButton {
    width: 30px;
    height: 30px;
}