.imageSize {
    height: 210px;
    width: 100%;
}

.cardSize {
    min-height: 275px;
    max-height: 275px;
    overflow-y: auto;
}

.description {
    font-size: 85%;
    text-align: justify;
}

.venue {
    font-size: small;
    bottom: 3%;
    position: absolute;
    width: 100%;
    word-break: normal;
}

.organization {
    font-size: 90%;
}

.buttonInfo {
    float: right;
}