<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center contact">
            <h4 class="text-muted">Connect with me today at:</h4>
            <a href="https://www.linkedin.com/in/varshajaiswal/" target="_blank">LinkedIn</a>
            &nbsp;
            <a href="https://github.com/Varsha-Jaiswal" target="_blank">GitHub</a>
            &nbsp;
            <a href="https://www.facebook.com/varshajaiswal.27" target="_blank">Facebook</a>
            &nbsp;
            <a href="https://twitter.com/_varshajaiswal_" target="_blank">Twitter</a>
            &nbsp;
            <a href="mailto:shaluvarshajaiswal@gmail.com" target="_top">Send Mail</a>
        </div>
    </div>
</div>