<app-header></app-header>
<div class="container homeStyle">
    <div class="row">
        <div class="col-12 text-center">
            <img [src]="imageUrl" alt="Varsha Jaiswal" class="rounded-circle float-center profileImage" />
            <hr class="mt-3">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-12 offset-md-2 offset-lg-2">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12 text-center">
                    <a href="javascript:void(0)" class="tabName mx-1"  *ngFor="let tab of tabData"
                        [ngClass]="selectedTab === tab.toLowerCase() ? 'tabSelected': ''"
                        (click)="changeTabSelected(tab)">
                        {{tab}}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <app-scroll></app-scroll>
</div>
<app-home-data *ngIf="selectedTab === 'home'"></app-home-data>
<app-bio *ngIf="selectedTab === 'bio'"></app-bio>
<app-work *ngIf="selectedTab === 'work'"></app-work>
<app-project *ngIf="selectedTab === 'projects'"></app-project>
<app-talk *ngIf="selectedTab === 'talks'"></app-talk>
<app-contact *ngIf="selectedTab === 'contact'"></app-contact>
<app-footer></app-footer>