.tabName {
    color: #696969;
}

.tabSelected {
    font-weight: bold;
    color: #2F4F4F;
}

.profileImage {
    margin: 20px;
    width: 250px;
    height: 250px;
    border: 2px solid slategrey;
}